html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: auto 0;
    box-sizing: border-box;
}